.gameover {
  display: block;
  position: absolute;
  z-index: 220;

  color: black;
  font-family: Impact;
  font-size: 9vh;
  -webkit-text-stroke: .3vh red;

  animation-name: gameover_spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in;

  pointer-events: none;
}


@keyframes gameover_spin {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    25% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(720deg) scale(3);
        opacity: 0;
    }
}
