/* InGame Display */

#score {
  position: absolute;
  z-index:299;
  width:50vh;
  display:block;
  height:2vh;
  padding:0;
  margin:0;
  background-color: #000;
  color: #fff;
}

#scoreleft {
  display:block;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  padding:0;
  margin:0;
  text-align: left;
}

#scoremiddle {
  display:block;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  padding:0;
  margin:0;
  text-align: center;
}

#scoreright {
  display:block;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  padding:0;
  margin:0;
  text-align: right;
}

.crosshair {
  display: block;
  position: absolute;
  width: 6vh;
  height: 6vh;
  background-size: contain;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
  /* font-family: Arial, sans-serif; */
  /* font-size: 4vh; */
  color: #20ff20;
  /* background-color: transparent; */
  z-index: 250;
  animation: crosshairkf 3s infinite linear;
  mix-blend-mode: normal;
}

@keyframes crosshairkf {
  0% {
    transform: rotate(0deg);
    opacity: 0.66;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.99;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.66;
  }

}
