/* InGame Display */

#score {
  position: absolute;
  z-index:299;
  width:50vh;
  display:block;
  height:2vh;
  padding:0;
  margin:0;
  background-color: #000;
  color: #fff;
}

#scoreleft {
  display:block;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  padding:0;
  margin:0;
  text-align: left;
}

#scoremiddle {
  display:block;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  padding:0;
  margin:0;
  text-align: center;
}

#scoreright {
  display:block;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  padding:0;
  margin:0;
  text-align: right;
}

.crosshair {
  display:block;
  position: absolute;
  width:2vh;
  height:2vh;
  font-size: 2vh;
  color:green;
  background-color: transparent;
  z-index: 250;
}
