/* Level Elements */

#level_background {
  background-position: bottom;
  background-size: cover;
  z-index:100;
  overflow: hidden;
  user-select: none;
}

#sleeperawake {
  display:block;
  position: absolute;
  width:50vh;
  bottom:0;
  padding:0;
  z-index:116;
  user-select: none;
  pointer-events: none;
}

.clocks {
  position: absolute;
  top:0;
  z-index:150;
  user-select: none;
}

.alarms {
  display: block;
  position: absolute;
  top:0;
  width:10vh;
  z-index:198;
  margin:0;
  animation-name: alarmkf;
  animation-duration: 3s;
  user-select: none;
  pointer-events: none;
}

.fadeinout {
  display: block;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:199;
  margin:0;
  animation-name: fadeoutkf;
  animation-duration: 3s;
  user-select: none;
  background-color: #000;
  user-select: none;
  pointer-events: none;
}

@keyframes alarmkf {
  from {
    margin:0;
    width:10vh;
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    margin: -15vh 0 0 -15vh;
    width:40vh;
    opacity: 0;
    transform: rotate(1440deg);
  }
}

@keyframes fadeoutkf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinkf {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.debrisdiv {
  position: absolute;
  display: inline;
  z-index:150;
  user-select: none;
  padding:0;
  margin:0;
  width:20px;
  height:20px;
  pointer-events: none;
  user-select: none;
}

.debrisimg {
  position: absolute;
  display: inline-block;
  top:0;
  left:0;
  z-index:150;
  height:8vh;
  user-select: none;
  animation-name: debrisimgkf;
  animation-duration: 2s;
  animation-timing-function: linear;
  pointer-events: none;
  user-select: none;
}

@keyframes debrisimgkf {
  0% {
    opacity: 1;
    transform: translate(0,0) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(50vh,0) rotate(720deg);
  }
}
